/* Default starter code css */
* {
  box-sizing: border-box;
}

body {
  background-color: #EEE;
}

.app-container, .map-container {
  margin: 0 auto;
  padding: 0;
  background-color: #FFF;
}

.navigation {
  margin-bottom: 0;
}

.options-container {
  min-height: 400px;
  position: relative;
  padding: 20px 0 0;
  overflow: hidden;
  background-color: #FFF;
}

.demo-container img {
  max-height: 360px;
  margin-top: 180px;
  padding: 0;
}

.navbar-fixed-bottom {
  background-color: white;
}


.color-option {
  cursor: pointer;
  margin: 20px 2.5%;
  border: 1px solid #ddd;
}

.color-option:first-of-type {
  margin-left: 6%;
}


.black {
  background-color: #00031E;
}

.white {
  background-color: #FFFFFF;
}

.silver {
  background-color: #828387;
}


.cadenza,
.cadenza-black {
  background: url('../assets/cadenza-black.jpg');
}

.cadenza-silver {
  background: url('../assets/cadenza-silver.jpg');
}

.cadenza-white {
  background: url('../assets/cadenza-silver.jpg');
}

.forte-black {
  background: url('../assets/forte-black.jpg');
}

.forte,
.forte-white {
  background: url('../assets/forte-white.jpg');
}

.forte-silver {
  background: url('../assets/forte-silver.jpg');
}

.optima-black {
  background: url('../assets/optima-black.jpg');
}

.optima-white {
  background: url('../assets/optima-white.jpg');
}

.optima,
.optima-silver {
  background: url('../assets/optima-silver.jpg');
}

.sedona,
.sedona-black {
  background: url('../assets/sedona-black.jpg');
}

.sedona-white {
  background: url('../assets/sedona-white.jpg');
}

.sedona-silver {
  background: url('../assets/sedona-silver.jpg');
}

.soul-black {
  background: url('../assets/soul-black.jpg');
}

.soul,
.soul-white {
  background: url('../assets/soul-white.jpg');
}

.soul-silver {
  background: url('../assets/soul-silver.jpg');
}


.vehicle-option {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.vehicle-display {
  transform: translateY(-50%);
}

.package-option {
  cursor: pointer;
}

.cost {
  display: inline;
}

.price-anchor {
  font-weight: bold;
  font-size: 4rem;
  margin-left: 1rem;
}

ul {
  list-style: none;
}


.summary-option ul {
  padding-left: 25px;
}

.summary-option li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}



li span {
  text-transform: capitalize;
}

/* Bespoke CSS */
* {
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}


/* Header */
header {
  color: #FFFFFF;
  background-color: #7B9E87;
  text-align: center;
}

/* Layout */

#options-display {
  overflow: hidden;
  height: 48vh;
  border-left: 1px solid #ddd;
  padding-top: 15px;
}

.panel {
  width: 90%;
  margin: 15px auto;
}

.four-summary {
  padding-top: 10px;
  padding-left: 25px;
  color: #7B9E87;
}

.form-summary input {
  margin-left: 25px;
}

.form-summary button {
  margin-right: 25px;
  color: #FFF;
  background-color: #7B9E87;
}

.runningTotal {
  display: block;
  color: #FFFFFF;
  background-color: #7B9E87;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}


h2 {
  display: block;
  color: #7B9E87;
  padding-top: 15px;
  padding-left: 30px;
}

/* Map */
#map {
  height: 300px;
}


/* Unit 9 link */
.unit9 {
  height: 50px;
  width: 100%;
  border-radius: 0;  
  padding: 14px;
  background-color: black;
  text-align: right;
  font-weight: bold;
}

.unit9 a {
  color: #FFFFFF;
  text-decoration: none;
}

.unit9 a:hover, .unit9 a:active, .unit9 a:focus {
  text-decoration: underline;
}